@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", Arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #E04E6B;
}
.nav-container a {
  color: white;
  font-size: 0.7em;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
header .logo {
  color: white;
  font-weight: bold;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  padding: 0 1em;
}

.hero {
  background: #de5d5f;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
  position: relative;
}

section {
  padding: 4em 2em;
  text-align: center;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(to right, #E0425E, #E01F3A);
  border-radius: 1em;
}

.hero_right img {
  border-radius: 1em;
  margin-bottom: 1em;
}

#feat {
  border-radius: 1em;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #E5D5FA;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6E00FF;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #fab1a5;
}

.footer {
  background: #E0425E;
}

.skills-container ul li {
  background: #F9F3DB;
  padding: 0em;
  border-radius: 1em;
  margin-bottom: 1em;
}
.skills-container ul li .icon-container {
  height: 100px;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.skills-container ul li .icon-container.one {
  width: 150px;
}
.skills-container ul li .icon-container.two {
  width: 150px;
}
.skills-container ul li .icon-container.three {
  width: 150px;
}
.skills-container ul li .skill-title {
  font-weight: bold;
}
.skills-container ul li .featured-desc2 {
  margin-bottom: 4em;
}

.footer-container ul li {
  background: #fab1a5;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}
.footer-container ul li .footicon-container {
  height: 80px;
  display: grid;
  place-content: center;
  margin: 0 auto;
  padding-bottom: -2em;
}
.footer-container ul li .footicon-container.one {
  width: 150px;
  height: 200px;
}
.footer-container ul li .footicon-container.two {
  margin-top: -100px;
}
.footer-container ul li .footicon-container.three {
  margin-top: -100px;
}
.footer-container ul li .footicon-container.four {
  height: 150px;
}
.footer-container ul li .foot-title {
  font-weight: bold;
}
.footer-container ul li .featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #F7F7F7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

form {
  align-items: center;
}

.copyright {
  text-align: center;
}

.underline {
  width: 50%;
  height: 5px;
  background: #000;
  border-radius: 3px;
  position: center;
  top: 5px;
  left: 0;
}

form button {
  border-radius: 0.5em;
  cursor: pointer;
  font-family: "Poppins";
  margin-top: 10px;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background: #000;
  margin-right: 15px;
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio, .hero {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }
  .hero-container {
    display: grid;
    grid-template-columns: 60% auto;
  }
  .footer-container ul {
    display: grid;
    grid-template-columns: 35% 20% 20% 20%;
    grid-gap: 0.5em;
    padding-left: 1em;
  }
  .nav-container a {
    font-size: 0.9em;
  }
  .left, .portfolio-left {
    display: grid;
    place-content: center;
    grid-gap: 1em;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .right_col {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    border-radius: 1em;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .footer {
    margin-top: 1em;
    margin-bottom: 2em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
  .featured::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
  }
}
@media only screen and (min-width: 1050px) {
  .hero {
    height: 70vh;
    background: #de5d5f;
  }
  .nav-container a {
    font-size: 1em;
  }
  .hero-container {
    display: grid;
    grid-template-columns: 50% auto;
  }
  header {
    padding: 2em 2em 2em 2em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .hero .content {
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .right_col {
    max-width: 600px;
    padding: 6em 8em 6em 2em;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 8em;
    font-size: 16px;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 2em 6em 4em;
  }
  .right_col {
    max-width: 600px;
    padding: 2em 2em 8em 2em;
  }
  .featured-desc {
    padding-right: 1em;
    font-size: 1.1em;
  }
  .subtitle {
    font-size: 1.5em;
  }
  .nav-container a {
    font-size: 1.2em;
  }
  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2em;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}/*# sourceMappingURL=main.css.map */